@import 'libs/bootstrap-reboot.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import 'base/variables';
@import 'libs/slick.scss';


*{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.container{
    width: 1340px;
    margin: 0 auto;
}

ul, h1{
    margin: 0
}

@import 'block/title';
@import 'block/promo';
@import 'block/button';
@import 'block/life';
@import 'block/galery';
@import 'block/tickets';
@import 'block/coach';
@import 'block/connection';
@import 'block/location';
@import 'block/footer';
@import 'block/hamburger';

@import 'base/media';